@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}

/*Global Tags*/

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35,35,85);
}
span{
    font-size: .9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/*Navigation*/

nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    width: 100%;
    height: 4.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
nav img{
    width: 6.7rem;
    cursor: pointer;
}
nav .navigation{
    display: flex;
}
#menu-btn{
    width:30px;
    height: 30px;
    display: none;
}
#menu-close{
    display: none;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 20px;
    font-weight: 520;
    transition: 0.3s ease;
}
nav .navigation ul li a:hover{
    color: yellow;
}

/*Home*/

#home{
    background-image: linear-gradient(rgb(85 86 90), rgb(81 91 233 / 58%)),url(images/back.jpg);
    width: 100%;
    height: 45rem;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
    font-weight: 'bold';
}
#home.btn{
    margin-top: 40px;
}
#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
#home a.blue{
    color: #fff;
    background: rgba(21, 21, 100);
    transition: 0.3s ease;
}
#home a.blue:hover{
    color: rgb(21, 21, 100);
    background: #fff;
    transition: 0.3s ease;
}
#home a.yellow{
    color: #fff;
    background: #fdc938;
    transition: 0.3s ease;
}
#home a.yellow:hover{
    color: #fdc938;
    background: #fff;
    transition: 0.3s ease;
}
.btn{
    width: 20rem;
    height: 5rem;
    margin-top: 2rem;
}

/* Features */

#features{
    padding: 5w 8vw 0 8vw;
    text-align: center;
}
#features h1{
    margin-top: 100px;

}
#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 80px;
}
#features .fea-box{
    background: #f9f9ff;
    text-align: start;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 20px;
}
#features.fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}
#features.fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
}
#features.fea-box p{
    font-size: 1 rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
    margin-top: 80px;
}

/*Courses*/

#course{
    text-align: center;
    z-index: -1;
    position: relative;
    padding-top: 100px;
}
#course .course-box{
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#course .courses{
    text-align: start;
    background: #f9f9ff;
    height: 100%;
    padding: 15px 15px 0 15px;
    position: relative;
}
#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}
#course .courses i{
    color: #FDC93B;
    font-size: .9rem;
}
#course .courses .details{
    padding: 15px 15px 0 15px;
}
#course .courses .cost{
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 70px;
}

/*Registration*/

#registration{
    padding:  6vw 8vw 6vw 8vw; 
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(images/signup.jpg); 
    height: 50rem;
    background-size: cover;
    margin: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#registration .reminder{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
    flex-direction: column;
}
#registration .reminder{
    color: #fff; 
}
#registration .reminder h1{
    color: #fff;
}
#registration .reminder .time{
    display: flex;
    justify-content: flex-start;
}
#registration .reminder .time .date{
    text-align: center;
    width: 8rem;
    background-color: rgba(225, 225, 2225, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(225, 225, 225, 0.18);
    font-size: 1.1rem;
    font-weight: 600;
 }
#registration .form{
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    height: 25rem;
}
#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
}
#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}
#registration .form .btn{
    margin-top: 20px;
}
#registration a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}
.form #new-btn{
    background-color: yellow;
    padding: 15px 10px;
}
.form #new-btn a{
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.form #new-btn:hover{
    color: rgb(21, 21, 100);
    background: #fff;
    transition: 0.3s ease;
}

/* Experts */

#experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}
#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#experts .expert-box .profile{
    background-color: #fafaf1;
    padding: 30px 10px;
}
.pro-links{
    margin-top: 10px;
}
.pro-links i{
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
}
.pro-links i:hover{
    background-color:rgb(21, 21, 100);
    color: white;
    cursor: pointer;
}

/* footer */

footer{
    padding: 8vw;
    background-color: #101C32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-col{
    padding-bottom: 40px;
}
footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
footer li:hover{
    color: rgb(241, 240, 245);
}
footer p{
    color: #7b838a;
}
footer .subscribe{
    margin-top: 20px;
}
footer input{
    width: 200px;
    padding: 12px 10px;
    background: none;
    outline: none;
    color: #fff;
}
footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background: #fff;
    font-weight: 600;
    border-radius: 5px;
}
#footer .subscribe a.yellow{
    color: #fff;
    background: #fdc93b;
    transition: 0.3s ease;
}
#footer .subscribe a.yellow:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}
@media(max-width: 576px){
    nav{
        padding: 15px 20px;
    }
    nav img{
        width: 100px;
    }
    #home h2{
        text-align: center;
    }
    #home p{
        font-size: 1.3rem;
        width: 89%;
        padding: 25px 0;
    }
    #menu-btn{
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0px 20px 20p;
    }
    nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(225, 225, 225, 0.18);
        transition: 0.3s ease;
    }
    nav .navigation ul.active{
        right: 0;
    }
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color: #fff;
    }
    #registration{
        flex-direction: column;
    }
    .time{
        flex-wrap: wrap;
    }
}